:root {
  --left-global-padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* flex-wrap: wrap; */
}

aside {
  width: 40%;
  background-image: url("./files/aside-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 auto;
}

#logo {
  margin-top: 20vw;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/files/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: color;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#header {
  padding-top: 10vh;
}

#header p {
  width: 80%;
  font-weight: bold;
  font-size: 1.5em;
}

#header p:last-child {
  padding-top: 1em;
  padding-bottom: 3em;
}

#header, #footer {
  background-color: #edeeee;
  padding-left: var(--left-global-padding);
}

form {
  padding-left: var(--left-global-padding);
  padding-bottom: 20px;
  box-shadow: 0px 10px 10px -10px gray;
  z-index: 1;
}

h1 {
  padding: 10px 0 30px;
}

label {
  display: block;
  width: 300px;
  padding: 5px 0px;

  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 2px;
}

input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
  background-color: rgb(255, 253, 253) 
}

input:invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid rgb(215, 215, 247);
  box-shadow: 2px  2px 7px 1px gray;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;  
}

ul div:first-child {
  padding-right: 70px;
}

#footer {
  padding-top: 30px;
  flex: 1;
}

button {
  padding: 15px 60px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgb(124, 67, 36);

  font-size: large;
  font-weight: bold;
  color: white;
}

button:hover {
  cursor: pointer;
}

#footer a {
  text-decoration: none;
  font-weight: bold;
  color:rgb(124, 67, 36)
}