:root {
  --left-gloval-padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  max-width: 100vw;
}

aside {
  width: 40%;
  background-image: url("./files/aside-background.jpg");
  background-size: 180%;
  background-repeat: no-repeat;
  flex: 1 0 auto;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

form {
  height: 40%;
  padding-left: var(--left-gloval-padding);
  /* padding: 10px; */
  box-shadow: 0px 10px 10px -10px gray;
  z-index: 1;
}

label {
  display: block;
  width: 200px;
  padding: 5px 0px;
}

input {
  width: 200px;
}

ul {
  display: flex;
  list-style: none;  
}

form div~div {
  padding-left: 20px;
}
/* li {
} */

#header, #footer {
  background-color: #edeeee;
  height: 30%;
  padding: var(--left-gloval-padding)
}

#header {
  padding-top: 100px;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(87, 40, 14);
  color: white;
}